.grid-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
}

.grid-container > div{
  height: 50vh;
  border: 2px solid grey;
}

/* 데스크탑. 브라우저 창 width가 1024px보다 커지는 순간부터 적용 */
@media screen  and (min-width: 1024px){
  .grid-container {
    grid-template-columns: 1fr 1fr;
  } 
}

/* 태블릿. 브라우저 창 width가 768px보다 커지는 순간부터 적용 */
@media screen  and (min-width: 768px){
  .grid-container {
    grid-template-columns: 1fr 1fr
  } 
}

/* 모바일. 브라우저 창 width가 768px보다 작아지는 순간부터 적용 */
@media screen  and (max-width: 768px){
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}





.github-picker {
  position: absolute !important;
  transform: translateX(-50%);
  display: block;
  top: 75vh;
  left: 50vw;
  z-index: 1;
}

h1 {
  position: absolute;
  transform: translateX(-50%);
  top: 25vh;
  left: 50vw;
  font-weight: 900;
  font-size: 250%;
  margin: 0;
  color: peru;
  line-height: 0.6em;
  letter-spacing: -2px;
  text-align: left;
  z-index: 1;
}

Canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/img/custom_bg.jpg');
  z-index: 0;
}
