html,
body,
#root,
.bg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.github-picker {
  position: absolute !important;
  transform: translateX(-50%);
  display: block;
  top: 75vh;
  left: 50vw;
  z-index: 1;
}

h1 {
  position: absolute;
  transform: translateX(-50%);
  top: 25vh;
  left: 50vw;
  font-weight: 900;
  font-size: 250%;
  margin: 0;
  color: peru;
  line-height: 0.6em;
  letter-spacing: -2px;
  text-align: left;
  z-index: 1;
}

Canvas {
  margin: 0;
  padding: 0;
  width: 100vw !important;
  height: 100vh !important;
  background-image: url('/public/img/custom_bg.jpg');
  z-index: 0;
}
