@font-face {
  font-family: yide;
  src: url('/public/font/YdestreetB.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: yide;
  src: url('/public/font/YdestreetL.ttf') format('truetype');
}
@font-face {
  font-family: 'Pretendard';
  src: url('/public/font/Pretendard-Thin.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/public/font/Pretendard-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/public/font/Pretendard-Regular.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/public/font/Pretendard-Bold.ttf') format('truetype');
  font-weight: 700;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.image-grid .canvas-div,
.image-grid img {
  width: 100%;
}

.github-picker {
  position: absolute;
  display: block;
  z-index: 3;
}

.custom-float-text {
  font-family: 'Pretendard';
  font-weight: 500;
  position: absolute;
  transform: translateX(-50%);
  top: 25vh;
  left: 50vw;
  font-weight: 900;
  font-size: 200%;
  margin: 0;
  color: peru;
  line-height: 0.6em;
  letter-spacing: -2px;
  text-align: left;
  z-index: 1;
}
.custom-desc-div > h2,
.custom-desc-div > h4 {
  font-family: yide;
  font-weight: 800;
}

.custom-desc-div li {
  font-family: 'Pretendard';
  font-weight: 500;
  list-style: none;
}

.button-grids {
  display: grid;
}

.orderButton {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: salmon;
  color: white;
  border: none;
}

.button-grids {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}
.button-grids > button {
  border: 1px solid grey;
  background-color: white;
  min-height: 30px;
}
.button-grids .clicked-button {
  background-color: black;
  color: white;
}

/* 태블릿. 브라우저 창 width가 768px보다 커지는 순간부터 적용
@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .github-picker{
    transform: translateX(-50%);
    top: 75vh;
    left: 50vw;
  }
} */

/* 모바일. 브라우저 창 width가 768px보다 작아지는 순간부터 적용 */
@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
  }
  .github-picker {
    transform: translateX(-50%);
    top: 37vh;
    left: 50vw;
    width: 200px !important;
    position: absolute !important;
  }
  .custom-float-text {
    display: block;
  }
  .canvas-div {
    height: 50vh;
  }

  .image-grid img {
    display: none;
  }

  .custom-float-text {
    top: 6vh;
  }
  .custom-desc-div {
    padding: 20px;
  }
  .desktop-picker-desc {
    display: none;
  }
}

/* 데스크탑. 브라우저 창 width가 1024px보다 커지는 순간부터 적용 */
@media screen and (min-width: 1024px) {
  .custom-float-text {
    display: none;
  }

  .container {
    padding: 20px 50px;
    margin: 0 auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 60% 35%;
    box-sizing: border-box;
    max-width: 1600px;
  }

  .image-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    max-width: 1200px;
  }

  .custom-desc-div {
    min-width: 300px;
    max-width: 500px;
  }

  .image-grid .canvas-div,
  .image-grid img {
    width: 100%;
    height: 100%;
  }

  .github-picker {
  }

  .button-grids > button {
    min-width: 3.4em;
  }
}

Canvas {
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100% !important;
  background-image: url('/public/img/custom_bg.jpg');
  background-size: cover;
  z-index: 0;
}
